# Clean data

## reading in data

In [1]:
import pandas as pd
import numpy as np
import math

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score, classification_report, accuracy_score
from sklearn.externals import joblib

from imblearn.over_sampling import SMOTE
from xgboost import XGBClassifier

/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
tweets_raw = pd.read_csv('airline_tweets.csv', encoding = 'unicode_escape')

In [3]:
tweets_raw.shape

(14640, 20)

In [4]:
cities_raw = pd.read_csv('cities.csv')

In [5]:
cities_raw.shape

(23278, 19)

In [6]:
tweets_raw.dtypes

_unit_id                          int64
_golden                            bool
_unit_state                      object
_trusted_judgments                int64
_last_judgment_at                object
airline_sentiment                object
airline_sentiment:confidence    float64
negativereason                   object
negativereason:confidence       float64
airline                          object
airline_sentiment_gold           object
name                             object
negativereason_gold              object
retweet_count                     int64
text                             object
tweet_coord                      object
tweet_created                    object
tweet_id                        float64
tweet_location                   object
user_timezone                    object
dtype: object

In [7]:
tweets_raw

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2/24/15 11:35,5.703060e+17,NaN,Eastern Time (US & Canada)
1,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
2,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/15 11:15,5.703010e+17,Lets Play,Central Time (US & Canada)
3,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
4,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/15 11:14,5.703010e+17,NaN,Pacific Time (US & Canada)
5,681448162,False,finalized,3,2/25/15 9:10,negative,1.0000,Can't Tell,0.6842,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica seriously would pay $30 a fligh...,NaN,2/24/15 11:14,5.703010e+17,NaN,Pacific Time (US & Canada)
6,681448165,False,finalized,3,2/25/15 8:11,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",NaN,2/24/15 11:13,5.703010e+17,San Francisco CA,Pacific Time (US & Canada)
7,681448167,False,finalized,3,2/25/15 2:11,neutral,0.6340,NaN,NaN,Virgin America,NaN,pilot,NaN,0,@VirginAmerica Really missed a prime opportuni...,NaN,2/24/15 11:12,5.703000e+17,Los Angeles,Pacific Time (US & Canada)
8,681448169,False,finalized,3,2/25/15 9:01,positive,0.6559,NaN,NaN,Virgin America,NaN,dhepburn,NaN,0,"@virginamerica Well, I didn'tÛ_but NOW I DO! :-D",NaN,2/24/15 11:11,5.703000e+17,San Diego,Pacific Time (US & Canada)
9,681448171,False,finalized,3,2/25/15 4:15,positive,1.0000,NaN,NaN,Virgin America,NaN,YupitsTate,NaN,0,"@VirginAmerica it was amazing, and arrived an ...",NaN,2/24/15 10:53,5.702950e+17,Los Angeles,Eastern Time (US & Canada)
10,681448174,False,finalized,3,2/25/15 8:34,neutral,0.6769,NaN,0.0000,Virgin America,NaN,idk_but_youtube,NaN,0,@VirginAmerica did you know that suicide is th...,NaN,2/24/15 10:48,5.702940e+17,1/1 loner squad,Eastern Time (US & Canada)
11,681448176,False,finalized,3,2/25/15 2:03,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica I &lt;3 pretty graphics. so muc...,NaN,2/24/15 10:30,5.702900e+17,NYC,America/New_York
12,681448178,False,finalized,3,2/25/15 2:13,positive,1.0000,NaN,NaN,Virgin America,NaN,HyperCamiLax,NaN,0,@VirginAmerica This is such a great deal! Alre...,NaN,2/24/15 10:30,5.702900e+17,NYC,America/New_York
13,681448181,False,finalized,3,2/25/15 5:39,positive,0.6451,NaN,NaN,Virgin America,NaN,mollanderson,NaN,0,@VirginAmerica @virginmedia I'm flying your #f...,NaN,2/24/15 10:21,5.702870e+17,NaN,Eastern Time (US & Canada)
14,681448182,False,finalized,3,2/25/15 7:33,positive,1.0000,NaN,NaN,Virgin America,NaN,sjespers,NaN,0,@VirginAmerica Thanks!,NaN,2/24/15 10:15,5.702860e+17,"San Francisco, CA",Pacific Time (US & Canada)
15,681448184,False,finalized,3,2/25/15 3:11,negative,0.6842,Late Flight,0.3684,Virgin America,NaN,smartwatermelon,NaN,0,@VirginAmerica SFO-PDX schedule is still MIA.,NaN,2/24/15 10:01,5.702820e+17,"palo alto, ca",Pacific Time (US & Canada)
16,681448186,False,finalized,3,2/25/15 1:32,positive,1.0000,NaN,NaN,Virgin America,NaN,ItzBrianHunty,NaN,0,@VirginAmerica So excited for my first cross c...,NaN,2/24/15 9:42,5.702780e+17,west covina,Pacific Time (US & Canada)
17,681448188,False,finalized,3,2/25/15 8:46,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,heatherovieda,NaN,0,@VirginAmerica I flew from NYC to SFO last we...,NaN,2/24/15 9:39,5.702770e+17,this place called NYC,Eastern Time (US & Canada)
18,681448190,False,finalized,3,2/25/15 10:24,positive,1.0000,NaN,NaN,Virgin America,NaN,thebrandiray,NaN,0,I _ü flying @VirginAmerica. ÷¼ü_ÙÔ,NaN,2/24/15 9:15,5.702710e+17,Somewhere celebrating life.,Atlantic Time (Canada)
19,681448192,False,finalized,3,2/25/15 5:25,positive,1.0000,NaN,NaN,Virgin America,NaN,JNLpierce,NaN,0,@VirginAmerica you know what would be amazingl...,NaN,2/24/15 9:04,5.702680e+17,Boston | Waltham,Quito
20,681448194,False,finalized,3,2/25/15 3:34,negative,0.6705,Can't Tell,0.3614,Virgin America,NaN,MISSGJ,NaN,0,@VirginAmerica why are your first fares in May...,NaN,2/24/15 8:55,5.702660e+17,NaN,NaN
21,681448197,False,finalized,3,2/25/15 2:26,positive,1.0000,NaN,NaN,Virgin America,NaN,DT_Les,NaN,0,@VirginAmerica I love this graphic. http://t.c...,"[40.74804263, -73.99295302]",2/24/15 8:49,5.702640e+17,NaN,NaN
22,681448199,False,finalized,3,2/25/15 3:26,positive,1.0000,NaN,NaN,Virgin America,NaN,ElvinaBeck,NaN,0,@VirginAmerica I love the hipster innovation. ...,NaN,2/24/15 8:30,5.702590e+17,Los Angeles,Pacific Time (US & Canada)
23,681448201,False,finalized,3,2/25/15 11:31,neutral,1.0000,NaN,NaN,Virgin America,NaN,rjlynch21086,NaN,0,@VirginAmerica will you be making BOS&gt;LAS n...,NaN,2/24/15 8:27,5.702590e+17,"Boston, MA",Eastern Time (US & Canada)
24,681448204,False,finalized,3,2/25/15 5:59,negative,1.0000,Customer Service Issue,0.3557,Virgin America,NaN,ayeevickiee,NaN,0,@VirginAmerica you guys messed up my seating.....,NaN,2/24/15 8:18,5.702570e+17,714,Mountain Time (US & Canada)
25,681448206,False,finalized,3,2/25/15 5:25,negative,1.0000,Customer Service Issue,1.0000,Virgin America,NaN,Leora13,NaN,0,@VirginAmerica status match program. I applie...,NaN,2/24/15 7:49,5.702490e+17,NaN,NaN
26,681448208,False,finalized,3,2/25/15 2:01,negative,1.0000,Can't Tell,0.6614,Virgin America,NaN,meredithjlynn,NaN,0,@VirginAmerica What happened 2 ur vegan food o...,NaN,2/24/15 7:11,5.702400e+17,NaN,NaN
27,681448211,False,finalized,3,2/25/15 1:08,neutral,0.6854,NaN,NaN,Virgin America,NaN,AdamSinger,NaN,0,@VirginAmerica do you miss me? Don't worry we'...,NaN,2/24/15 5:44,5.702180e+17,"San Francisco, CA",Central Time (US & Canada)
28,681448213,False,finalized,3,2/25/15 9:04,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,blackjackpro911,NaN,0,@VirginAmerica amazing to me that we can't get...,"[42.361016, -71.02000488]",2/24/15 5:05,5.702080e+17,"San Mateo, CA & Las Vegas, NV",NaN
29,681448214,False,finalized,3,2/25/15 9:14,neutral,0.6150,NaN,0.0000,Virgin America,NaN,TenantsUpstairs,NaN,0,@VirginAmerica LAX to EWR - Middle seat on a r...,"[33.94540417, -118.4062472]",2/23/15 23:34,5.701250e+17,Brooklyn,Atlantic Time (Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14610,681679769,False,finalized,3,2/25/15 19:12,negative,1.0000,longlines,0.6788,American,NaN,Jess_JCW,NaN,0,@AmericanAir I understand the weather issue bu...,NaN,2/22/15 12:17,5.695920e+17,London,London
14611,681679770,False,finalized,3,2/25/15 18:54,neutral,1.0000,NaN,NaN,American,NaN,TrueChief77,NaN,0,"@AmericanAir guarantee no retribution? If so, ...",NaN,2/22/15 12:17,5.695920e+17,970 Colorado,NaN
14612,681679771,False,finalized,3,2/25/15 19:42,negative,1.0000,Cancelled Flight,0.6333,American,NaN,tcunningham10,NaN,0,@AmericanAir a friend is having flight Cancell...,"[40.46692522, -82.64567078]",2/22/15 12:16,5.695920e+17,Central Ohio,Eastern Time (US & Canada)
14613,681679772,False,finalized,3,2/25/15 19:05,negative,1.0000,Customer Service Issue,0.7255,American,NaN,kiabeveridge,NaN,0,"@AmericanAir I used the ""call back"" feature wi...",NaN,2/22/15 12:16,5.695920e+17,Chicago,Mountain Time (US & Canada)
14614,681679773,False,finalized,3,2/25/15 19:15,negative,1.0000,Customer Service Issue,1.0000,American,NaN,GregPoos,NaN,0,@AmericanAir I need to be at work tomorrow at ...,NaN,2/22/15 12:16,5.695920e+17,NaN,NaN
14615,681679774,False,finalized,3,2/25/15 18:44,negative,1.0000,Cancelled Flight,1.0000,American,NaN,tim_sheehy,NaN,0,@AmericanAir ugh Dump us in dfw w/no luggage ...,NaN,2/22/15 12:16,5.695920e+17,Washington DC,Central Time (US & Canada)
14616,681679775,False,finalized,3,2/25/15 19:02,negative,1.0000,Cancelled Flight,1.0000,American,NaN,TheJoshAbides,NaN,0,"@AmericanAir Cancelled Flights my flight, does...",NaN,2/22/15 12:15,5.695910e+17,New York City,Eastern Time (US & Canada)
14617,681679776,False,finalized,3,2/25/15 18:56,positive,1.0000,NaN,NaN,American,NaN,iambmac,NaN,0,@AmericanAir DMing you now! Big thanks.,NaN,2/22/15 12:15,5.695910e+17,"Columbus, OH, USA",Eastern Time (US & Canada)
14618,681679777,False,finalized,3,2/25/15 19:21,negative,1.0000,Bad Flight,0.6774,American,NaN,A_for_AdNauseam,NaN,0,@AmericanAir 3078 is overweight so you pull 2 ...,NaN,2/22/15 12:14,5.695910e+17,NaN,NaN
14619,681679778,False,finalized,3,2/25/15 19:01,positive,1.0000,NaN,NaN,American,NaN,howiemandel,NaN,3,@AmericanAir I love your company and your staf...,NaN,2/22/15 12:14,5.695910e+17,NaN,Pacific Time (US & Canada)
14620,681679779,False,finalized,3,2/25/15 19:19,negative,1.0000,Customer Service Issue,1.0000,American,NaN,KCBobolz,NaN,0,@AmericanAir I wait 2+ hrs for CS to call me b...,NaN,2/22/15 12:14,5.695910e+17,"Milwaukee County, Wisconsin",Central Time (US & Canada)
14621,681679780,False,finalized,3,2/25/15 19:23,negative,1.0000,Customer Service Issue,1.0000,American,NaN,andyellwood,NaN,0,@AmericanAir I've been on hold for 55 mins abo...,NaN,2/22/15 12:13,5.695910e+17,"New York, New York",Eastern Time (US & Canada)
14622,681679781,False,finalized,3,2/25/15 19:11,negative,1.0000,Late Flight,0.3358,American,NaN,Jill_Lynnette,NaN,0,I just need a place to sleep when I land witho...,NaN,2/22/15 12:10,5.695900e+17,NaN,Eastern Time (US & Canada)
14623,681679782,False,finalized,3,2/25/15 19:05,positive,0.6274,NaN,0.0000,American,NaN,Flora_Lola_NYC,NaN,0,@AmericanAir Love the new planes for the JFK-L...,NaN,2/22/15 12:10,5.695900e+17,NaN,Eastern Time (US & Canada)
14624,681679783,False,finalized,3,2/25/15 19:06,negative,1.0000,Can't Tell,1.0000,American,NaN,yourlama,NaN,0,"@AmericanAir Call me Chairman, or call me Emer...","[32.9070889, -97.03785947]",2/22/15 12:10,5.695900e+17,NaN,NaN
14625,681679784,False,finalized,3,2/25/15 19:30,positive,1.0000,NaN,NaN,American,NaN,DrCaseyJRudkin,NaN,0,@AmericanAir Flight 236 was great. Fantastic c...,"[40.64946781, -73.76624703]",2/22/15 12:08,5.695900e+17,East Coast,NaN
14626,681679785,False,finalized,3,2/25/15 19:15,negative,1.0000,Late Flight,1.0000,American,NaN,cataattack,NaN,0,@AmericanAir Flight 953 NYC-Buenos Aires has b...,NaN,2/22/15 12:08,5.695890e+17,"Buenos Aires, Argentina",Buenos Aires
14627,681679786,False,finalized,3,2/25/15 19:23,negative,1.0000,Cancelled Flight,1.0000,American,NaN,KristinaMeyer7,NaN,0,"@AmericanAir Flight Cancelled Flightled, can't...",NaN,2/22/15 12:05,5.695890e+17,NaN,Eastern Time (US & Canada)
14628,681679787,False,finalized,3,2/25/15 19:10,positive,1.0000,NaN,NaN,American,NaN,jlhalldc,NaN,0,Thank you. ÛÏ@AmericanAir: @jlhalldc Customer...,NaN,2/22/15 12:04,5.695890e+17,"Washington, DC",Eastern Time (US & Canada)
14629,681679788,False,finalized,3,2/25/15 18:52,negative,1.0000,Customer Service Issue,1.0000,American,NaN,jontgreen89,NaN,0,@AmericanAir How do I change my flight if the ...,NaN,2/22/15 12:04,5.695890e+17,"Waco, TX",Central Time (US & Canada)
14630,681679789,False,finalized,3,2/25/15 18:56,positive,1.0000,NaN,NaN,American,NaN,Laurelinesblog,NaN,0,@AmericanAir Thanks! He is.,NaN,2/22/15 12:04,5.695880e+17,"Chapel Hill, NC",NaN
14631,681679790,False,finalized,3,2/25/15 19:24,negative,1.0000,Bad Flight,1.0000,American,NaN,MDDavis7,NaN,0,@AmericanAir thx for nothing on getting us out...,NaN,2/22/15 12:04,5.695880e+17,US,Eastern Time (US & Canada)
14632,681679791,False,finalized,3,2/25/15 19:15,neutral,0.6760,NaN,0.0000,American,NaN,Chad_SMFYM,NaN,0,"ÛÏ@AmericanAir: @TilleyMonsta George, that do...",NaN,2/22/15 12:01,5.695880e+17,NaN,Central Time (US & Canada)
14633,681679792,False,finalized,3,2/25/15 19:14,negative,1.0000,Cancelled Flight,1.0000,American,NaN,RussellsWriting,NaN,0,@AmericanAir my flight was Cancelled Flightled...,NaN,2/22/15 12:01,5.695880e+17,Los Angeles,Arizona
14634,681679793,False,finalized,3,2/25/15 19:40,negative,0.6684,Late Flight,0.6684,American,NaN,GolfWithWoody,NaN,0,@AmericanAir right on cue with the delays_ÙÔÎ,NaN,2/22/15 12:01,5.695880e+17,NaN,Quito
14635,681679794,False,finalized,3,2/25/15 19:46,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2/22/15 12:01,5.695880e+17,NaN,NaN
14636,681679795,False,finalized,3,2/25/15 19:14,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2/22/15 11:59,5.695870e+17,Texas,NaN
14637,681679796,False,finalized,3,2/25/15 19:04,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2/22/15 11:59,5.695870e+17,"Nigeria,lagos",NaN
14638,681679797,False,finalized,3,2/25/15 18:59,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2/22/15 11:59,5.695870e+17,New Jersey,Eastern Time (US & Canada)
14639,681679798,False,finalized,3,2/25/15 19:06,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2/22/15 11:58,5.695870e+17,"dallas, TX",: is a string

In [8]:
tweets_df = tweets_raw[['airline_sentiment','tweet_coord']]

In [9]:
cities_raw.dtypes

geonameid              int64
name                  object
asciiname             object
alternatenames        object
latitude             float64
longitude            float64
feature class         object
feature code          object
country code          object
cc2                   object
admin1 code           object
admin2 code           object
admin3 code           object
admin4 code           object
population             int64
elevation            float64
dem                    int64
timezone              object
modification date     object
dtype: object

In [10]:
cities_raw

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,08,NaN,NaN,NaN,15853,NaN,1033,Europe/Andorra,2008-10-15
1,3041563,Andorra la Vella,Andorra la Vella,"ALV,Ando-la-Vyey,Andora,Andora la Vela,Andora ...",42.50779,1.52109,P,PPLC,AD,NaN,07,NaN,NaN,NaN,20430,NaN,1037,Europe/Andorra,2010-05-30
2,290594,Umm al Qaywayn,Umm al Qaywayn,"Oumm al Qaiwain,Oumm al Qaïwaïn,Um al Kawain,U...",25.56473,55.55517,P,PPLA,AE,NaN,07,NaN,NaN,NaN,44411,NaN,2,Asia/Dubai,2014-10-07
3,291074,Ras al-Khaimah,Ras al-Khaimah,"Julfa,Khaimah,RKT,Ra's al Khaymah,Ra's al-Chai...",25.78953,55.94320,P,PPLA,AE,NaN,05,NaN,NaN,NaN,115949,NaN,2,Asia/Dubai,2015-12-05
4,291696,Khawr Fakkān,Khawr Fakkan,"Fakkan,Fakkān,Khawr Fakkan,Khawr Fakkān,Khawr ...",25.33132,56.34199,P,PPL,AE,NaN,06,NaN,NaN,NaN,33575,NaN,20,Asia/Dubai,2013-10-25
5,292223,Dubai,Dubai,"DXB,Dabei,Dibai,Dibay,Doubayi,Dubae,Dubai,Duba...",25.06570,55.17128,P,PPLA,AE,NaN,03,NaN,NaN,NaN,1137347,NaN,3,Asia/Dubai,2014-12-02
6,292231,Dibba Al-Fujairah,Dibba Al-Fujairah,"Al-Fujairah,BYB,Dibba Al-Fujairah,dba alfjyrt,...",25.59246,56.26176,P,PPL,AE,NaN,04,NaN,NaN,NaN,30000,NaN,16,Asia/Dubai,2014-08-12
7,292239,Dibba Al-Hisn,Dibba Al-Hisn,"BYB,Daba,Daba al-Hisn,Dabā,Dabā al-Ḥiṣn,Diba,D...",25.61955,56.27291,P,PPL,AE,NaN,04,NaN,NaN,NaN,26395,NaN,4,Asia/Dubai,2014-04-21
8,292672,Sharjah,Sharjah,"Al Sharjah,Ash 'Mariqah,Ash Shariqa,Ash Shariq...",25.33737,55.41206,P,PPLA,AE,NaN,06,NaN,NaN,NaN,543733,NaN,6,Asia/Dubai,2013-03-05
9,292688,Ar Ruways,Ar Ruways,"Ar Ru'ays,Ar Ruways,Ar Ru’ays,Ar-Ruvais,Ruwais...",24.11028,52.73056,P,PPL,AE,AE,01,NaN,NaN,NaN,16000,NaN,16,Asia/Dubai,2012-11-03
10,292878,Al Fujayrah,Al Fujayrah,"Al Fujayrah,Al-Fudjayra,Al-Fujayrah' emiraat,F...",25.11641,56.34141,P,PPLA,AE,NaN,04,NaN,NaN,NaN,62415,NaN,15,Asia/Dubai,2016-12-18
11,292913,Al Ain,Al Ain,"AAN,Ainas,Al Ain,Al Ajn,Al Ayn,Al `Ayn,Al Ɛayn...",24.19167,55.76056,P,PPL,AE,NaN,01,NaN,NaN,NaN,408733,NaN,275,Asia/Dubai,2013-03-17
12,292932,Ajman,Ajman,"Ajman,Al Ajman,QAJ,Ujman,ʿjman,عجمان",25.41111,55.43504,P,PPLA,AE,NaN,02,NaN,NaN,NaN,226172,NaN,4,Asia/Dubai,2013-03-24
13,292953,Adh Dhayd,Adh Dhayd,"Adh Dhaid,Adh Dhayd,Al Daid,Al-Dhayd,Dayd,Dhai...",25.28812,55.88157,P,PPL,AE,NaN,06,NaN,NaN,NaN,24716,NaN,114,Asia/Dubai,2012-01-18
14,292968,Abu Dhabi,Abu Dhabi,"A-pu-that-pi,AEbu Saby,AUH,Aboe Dhabi,Abou Dab...",24.46667,54.36667,P,PPLC,AE,NaN,01,NaN,NaN,NaN,603492,NaN,6,Asia/Dubai,2016-06-03
15,1120985,Zaranj,Zaranj,"Sarandsch,ZAJ,Zaranas,Zarandj,Zarandz,Zarandza...",30.95962,61.86037,P,PPLA,AF,NaN,19,7053297,NaN,NaN,49851,NaN,489,Asia/Kabul,2013-10-06
16,1123004,Taloqan,Taloqan,"Khanabad,TQN,Taikhan,Taleqan,Talikan,Talikhan,...",36.73605,69.53451,P,PPLA,AF,NaN,26,NaN,NaN,NaN,64256,NaN,801,Asia/Kabul,2013-05-11
17,1125155,Shīnḏanḏ,Shindand,"Asfazar,Asfazār,OAH,Sabzavar,Sabzavār,Sabzawar...",33.30294,62.14740,P,PPLA2,AF,NaN,11,NaN,NaN,NaN,29264,NaN,1071,Asia/Kabul,2017-02-16
18,1125444,Shibirghān,Shibirghan,"Markaz-e Wilayat-e Shibirghan,Markaz-e Wilāyat...",36.66757,65.75290,P,PPLA,AF,NaN,31,NaN,NaN,NaN,55641,NaN,360,Asia/Kabul,2013-06-04
19,1125896,Shahrak,Shahrak,"Bati Dara,Kala Shaharak,Kala Shahrak,Kala Shah...",34.10737,64.30520,P,PPLA2,AF,NaN,09,NaN,NaN,NaN,15967,NaN,2357,Asia/Kabul,2012-02-28
20,1127110,Sar-e Pul,Sar-e Pul,"Sar-e Pol,Sar-e Pul,Sar-i-Pul,Sari-Pul',sr pl,...",36.21544,65.93249,P,PPLA,AF,NaN,33,NaN,NaN,NaN,52121,NaN,636,Asia/Kabul,2012-01-16
21,1127628,Sang-e Chārak,Sang-e Charak,"Sang-e Charak,Sang-e Chārak",35.84972,66.43694,P,PPL,AF,NaN,33,NaN,NaN,NaN,15377,NaN,1483,Asia/Kabul,2016-03-09
22,1127768,Aībak,Aibak,"Aibak,Aybak,Aībak,Eybak,Haibak,Samagan,Samanga...",36.26468,68.01551,P,PPLA,AF,NaN,32,NaN,NaN,NaN,47823,NaN,969,Asia/Kabul,2012-01-16
23,1128265,Rustāq,Rustaq,"Rostaq,Rostāq,Rustak,Rustaq,Rustāq,rstaq,رستاق...",37.12604,69.83045,P,PPLA2,AF,NaN,26,NaN,NaN,NaN,25636,NaN,1314,Asia/Kabul,2012-02-28
24,1129516,Qarqīn,Qarqin,"Karkin,Karkin Bazar,Kkhanika,Qarkin,Qarqin,Qar...",37.41853,66.04358,P,PPLA2,AF,NaN,31,NaN,NaN,NaN,15018,NaN,263,Asia/Kabul,2012-02-28
25,1129648,Qarāwul,Qarawul,"Hazrat Imam,Hazrat Imam Saiyid,Hazrat Imām,Kar...",37.21959,68.78020,P,PPL,AF,NaN,24,NaN,NaN,NaN,24544,NaN,337,Asia/Kabul,2013-09-05
26,1130490,Pul-e Khumrī,Pul-e Khumri,"Pol-e Khomri,Pol-e Khomrī,Pul-e Khumri,Pul-e K...",35.94458,68.71512,P,PPLA,AF,NaN,03,NaN,NaN,NaN,56369,NaN,638,Asia/Kabul,2012-01-16
27,1131316,Paghmān,Paghman,"Paghman,Paghman Palace,Paghmān,Pagman,pghman,П...",34.58787,68.95091,P,PPL,AF,NaN,13,NaN,NaN,NaN,49157,NaN,2328,Asia/Kabul,2012-08-04
28,1132495,Nahrīn,Nahrin,"Nahrin,Nahrīn,Nakhrin,Narain,Narin,Narīn,nhryn...",36.06490,69.13343,P,PPLA2,AF,NaN,03,NaN,NaN,NaN,22363,NaN,1138,Asia/Kabul,2012-02-28
29,1133453,Maymana,Maymana,"Daerah Maymana,MMZ,Maimana,Maimanah,Maimāna,Ma...",35.92139,64.78361,P,PPLA,AF,NaN,07,NaN,NaN,NaN,75900,877.0,864,Asia/Kabul,2013-09-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23248,917748,Choma,Choma,Choma,-16.80889,26.98750,P,PPLA,ZM,NaN,07,917743,NaN,NaN,46746,NaN,1322,Africa/Lusaka,2017-05-07
23249,918702,Chipata,Chipata,"CIP,Chipata,Cipata,Fort Jameson,Tsipata,chipat...",-13.63333,32.65000,P,PPLA,ZM,NaN,03,NaN,NaN,NaN,85963,NaN,1147,Africa/Lusaka,2015-06-03
23250,919009,Chingola,Chingola,"CGJ,Chingola,Cingola,ching-golla,chingora,chng...",-12.52897,27.88382,P,PPLA2,ZM,NaN,08,919006,NaN,NaN,148564,NaN,1363,Africa/Lusaka,2016-10-16
23251,919544,Chililabombwe,Chililabombwe,"Bancroft,Chilabombwe,Chiliabombwe,Chiliadomewe...",-12.36475,27.82286,P,PPL,ZM,NaN,08,NaN,NaN,NaN,57328,NaN,1316,Africa/Lusaka,2012-01-17
23252,878549,Zvishavane,Zvishavane,"Shabani,Shavani,Zvishavane",-20.32674,30.06648,P,PPL,ZW,NaN,08,NaN,NaN,NaN,35896,NaN,998,Africa/Harare,2014-05-12
23253,879431,Victoria Falls,Victoria Falls,"Chutes Victoria,VFA,Victoria Falls",-17.93285,25.83066,P,PPL,ZW,NaN,06,889941,NaN,NaN,35761,NaN,961,Africa/Harare,2015-01-14
23254,881164,Shurugwi,Shurugwi,"Churugwi,Salukwe,Selukwe,Shurugwi",-19.67016,30.00589,P,PPL,ZW,NaN,02,NaN,NaN,NaN,17075,NaN,1483,Africa/Harare,2012-01-17
23255,882100,Rusape,Rusape,"Rusape,Rusapi",-18.52785,32.12843,P,PPL,ZW,NaN,01,NaN,NaN,NaN,29292,NaN,1415,Africa/Harare,2012-01-17
23256,882599,Redcliff,Redcliff,"Redcliff,Redcliffe,Rehdkliff,Рэдклифф",-19.03333,29.78333,P,PPL,ZW,NaN,02,NaN,NaN,NaN,33197,NaN,1232,Africa/Harare,2013-03-12
23257,884141,Norton,Norton,"Norton,Нортон",-17.88333,30.70000,P,PPL,ZW,NaN,05,NaN,NaN,NaN,52054,NaN,1364,Africa/Harare,2013-03-12
23258,884979,Mutare,Mutare,"Gorad Mutareh,Mutare,Mutarė,Nyautare,UTA,Umtal...",-18.97070,32.67086,P,PPLA,ZW,NaN,01,NaN,NaN,NaN,184205,NaN,1116,Africa/Harare,2010-08-03
23259,886763,Masvingo,Masvingo,"Fort Victoria,MVZ,Mashvingo,Masvingo,Nyanda,Ма...",-20.06373,30.82766,P,PPLA,ZW,NaN,08,NaN,NaN,NaN,76290,NaN,1091,Africa/Harare,2010-08-03
23260,886990,Marondera,Marondera,"Marandellas,Marondera",-18.18527,31.55193,P,PPLA,ZW,NaN,04,NaN,NaN,NaN,57082,NaN,1668,Africa/Harare,2010-08-03
23261,888710,Kwekwe,Kwekwe,"Hwe Hwe,Kvekve,Kvekvė,Kwekwe,Que Que,kui kui s...",-18.92809,29.81486,P,PPL,ZW,NaN,02,NaN,NaN,NaN,99149,NaN,1203,Africa/Harare,2012-01-17
23262,889191,Karoi,Karoi,"Karoi,Karoyi",-16.80993,29.69247,P,PPL,ZW,NaN,05,NaN,NaN,NaN,25030,NaN,1259,Africa/Harare,2015-04-24
23263,889215,Kariba,Kariba,"KAB,Kariba,ka li ba,kaliba,karyba,Кариба,كاريب...",-16.51667,28.80000,P,PPL,ZW,NaN,05,NaN,NaN,NaN,25531,NaN,679,Africa/Harare,2012-01-17
23264,889453,Kadoma,Kadoma,"Gatooma,Kadoma,Kadome,Katoma,ka duo ma,kadoma,...",-18.33328,29.91534,P,PPL,ZW,NaN,05,NaN,NaN,NaN,79174,NaN,1176,Africa/Harare,2012-01-17
23265,889942,Hwange,Hwange,"Hvange,Hvangė,Khvange,WKI,Wange,Wankie,hwang-g...",-18.36446,26.49877,P,PPL,ZW,NaN,06,889941,NaN,NaN,33210,NaN,767,Africa/Harare,2014-11-16
23266,890299,Harare,Harare,"Arare,Charare,Gorad Kharareh,HRE,Harare,Harare...",-17.82772,31.05337,P,PPLC,ZW,NaN,10,NaN,NaN,NaN,1542813,NaN,1494,Africa/Harare,2015-06-03
23267,890422,Gweru,Gweru,"GWE,Gveru,Gwelo,Gweru,Гверу",-19.45000,29.81667,P,PPLA,ZW,NaN,02,NaN,NaN,NaN,146073,NaN,1412,Africa/Harare,2009-06-30
23268,890983,Gokwe,Gokwe,Gokwe,-18.20476,28.93490,P,PPL,ZW,NaN,02,NaN,NaN,NaN,18942,NaN,1237,Africa/Harare,2012-05-05
23269,893485,Chiredzi,Chiredzi,"BFO,Chiredzi",-21.05000,31.66667,P,PPL,ZW,NaN,08,NaN,NaN,NaN,28205,NaN,436,Africa/Harare,2013-05-08
23270,893549,Chipinge,Chipinge,"CHJ,Chipinga,Chipinge",-20.18833,32.62365,P,PPL,ZW,NaN,01,NaN,NaN,NaN,18860,NaN,1109,Africa/Harare,2015-04-24
23271,893697,Chinhoyi,Chinhoyi,"Chinhoyi,Chinkhoi,Chinkhoji,Chinoyi,Cinhojis,S...",-17.36667,30.20000,P,PPLA,ZW,NaN,05,NaN,NaN,NaN,61739,NaN,1153,Africa/Harare,2009-06-30
23272,894239,Chegutu,Chegutu,"Cheguto,Chegutu,Hartley,New Hartley",-18.13021,30.14074,P,PPL,ZW,NaN,05,NaN,NaN,NaN,47294,NaN,1187,Africa/Harare,2012-01-17
23273,894701,Bulawayo,Bulawayo,"BUQ,Bulavajas,Bulavajo,Bulavejo,Bulawayo,Gorad...",-20.15000,28.58333,P,PPLA,ZW,NaN,09,NaN,NaN,NaN,699385,NaN,1348,Africa/Harare,2010-08-03
23274,895061,Bindura,Bindura,"Bindura,Bindura Town,Kimberley Reefs,Биндура",-17.30192,31.33056,P,PPLA,ZW,NaN,03,NaN,NaN,NaN,37423,NaN,1118,Africa/Harare,2010-08-03
23275,895269,Beitbridge,Beitbridge,"Bajtbridz,Bajtbridzh,Beitbridge,Beitbridzas,Be...",-22.21667,30.00000,P,PPL,ZW,NaN,07,NaN,NaN,NaN,26459,NaN,461,Africa/Harare,2013-03-12
23276,1085510,Epworth,Epworth,Epworth,-17.89000,31.14750,P,PPLX,ZW,NaN,10,NaN,NaN,NaN,123250,NaN,1508,Africa/Harare,2012-01-19
23277,1106542,Chitungwiza,Chitungwiza,"Chitungviza,Chitungwiza,Citungviza,Gorad Chytu...",-18.01274,31.07555,P,PPL,ZW,NaN,10,NaN,NaN,NaN,340360,NaN,1435,Africa/Harare,2012-01-20

In [11]:
cities_df = cities_raw[['name','latitude','longitude']]

## cleaning

In [12]:
# checking for missing values in tweets
tweets_df.isnull().sum()

airline_sentiment        0
tweet_coord          13621
dtype: int64

In [13]:
# dropping NA
tweets_df = tweets_df[tweets_df['tweet_coord'].notnull()]

In [14]:
# dropping '[0.0, 0.0]'
tweets_df = tweets_df.loc[tweets_df['tweet_coord'] != '[0.0, 0.0]']

In [15]:
tweets_df.head()

   airline_sentiment                   tweet_coord
21          positive   [40.74804263, -73.99295302]
28          negative     [42.361016, -71.02000488]
29           neutral   [33.94540417, -118.4062472]
32          negative  [33.94209449, -118.40410103]
34          positive     [33.2145038, -96.9321504]

In [16]:
# checking for missing values in cities
cities_df.isnull().sum()

name         0
latitude     0
longitude    0
dtype: int64

In [17]:
cities_df.head()

               name  latitude  longitude
0      les Escaldes  42.50729    1.53414
1  Andorra la Vella  42.50779    1.52109
2    Umm al Qaywayn  25.56473   55.55517
3    Ras al-Khaimah  25.78953   55.94320
4      Khawr Fakkān  25.33132   56.34199

# Prepare training data

## encoding classes

In [18]:
class_dict = {'negative':0,'neutral':1,'positive':2}
tweets_df = tweets_df.replace({'airline_sentiment':class_dict})

## finding closest city

In [19]:
cities_df.head()

               name  latitude  longitude
0      les Escaldes  42.50729    1.53414
1  Andorra la Vella  42.50779    1.52109
2    Umm al Qaywayn  25.56473   55.55517
3    Ras al-Khaimah  25.78953   55.94320
4      Khawr Fakkān  25.33132   56.34199

In [20]:
tweets_df.head()

    airline_sentiment                   tweet_coord
21                  2   [40.74804263, -73.99295302]
28                  0     [42.361016, -71.02000488]
29                  1   [33.94540417, -118.4062472]
32                  0  [33.94209449, -118.40410103]
34                  2     [33.2145038, -96.9321504]

In [21]:
def get_lat_long(string):
    lat = float(string.strip('[]').split(',')[0])
    long = float(string.strip('[]').split(',')[1])
    return lat, long

In [22]:
tweets_df['lat'] = tweets_df['tweet_coord'].apply(lambda x: get_lat_long(x)[0])

In [23]:
tweets_df['long'] = tweets_df['tweet_coord'].apply(lambda x: get_lat_long(x)[1])

In [24]:
tweets_df

       airline_sentiment                   tweet_coord        lat        long
21                     2   [40.74804263, -73.99295302]  40.748043  -73.992953
28                     0     [42.361016, -71.02000488]  42.361016  -71.020005
29                     1   [33.94540417, -118.4062472]  33.945404 -118.406247
32                     0  [33.94209449, -118.40410103]  33.942094 -118.404101
34                     2     [33.2145038, -96.9321504]  33.214504  -96.932150
42                     1   [34.0219817, -118.38591198]  34.021982 -118.385912
62                     1  [33.57963333, -117.73024772]  33.579633 -117.730248
69                     0    [40.6413712, -73.78311558]  40.641371  -73.783116
74                     2  [36.08457854, -115.13780136]  36.084579 -115.137801
108                    1  [37.79374402, -122.39327564]  37.793744 -122.393276
115                    0      [26.074379, -80.1416831]  26.074379  -80.141683
124                    2   [33.9469039, -118.40716847]  33.946904 -118.407168
126                    0  [51.04345575, -114.06071363]  51.043456 -114.060714
128                    1   [40.64662464, -73.77090177]  40.646625  -73.770902
147                    2  [33.94652852, -118.40766257]  33.946529 -118.407663
189                    2    [38.9128188, -77.00798226]  38.912819  -77.007982
205                    2   [32.84359605, -96.84910929]  32.843596  -96.849109
211                    0    [32.8437698, -96.84928399]  32.843770  -96.849284
249                    0   [26.06726717, -80.14433663]  26.067267  -80.144337
264                    2     [32.8454782, -96.8504585]  32.845478  -96.850459
285                    1   [39.24087254, -94.63994975]  39.240873  -94.639950
303                    2  [37.77465018, -122.44032176]  37.774650 -122.440322
337                    1  [33.94696831, -118.40747994]  33.946968 -118.407480
409                    0   [40.63767372, -74.11075451]  40.637674  -74.110755
473                    1   [40.78986648, -73.10068286]  40.789866  -73.100683
475                    2    [42.5696777, -71.42056878]  42.569678  -71.420569
499                    1  [37.80065252, -122.43857414]  37.800653 -122.438574
503                    1  [36.08546367, -115.31814055]  36.085464 -115.318141
511                    0   [19.43706642, -99.07927123]  19.437066  -99.079271
527                    2    [39.8621249, -104.6740909]  39.862125 -104.674091
...                  ...                           ...        ...         ...
14129                  0   [35.20493157, -80.92540817]  35.204932  -80.925408
14153                  0  [34.02148779, -118.50289643]  34.021488 -118.502896
14184                  0   [40.64931132, -73.79263138]  40.649311  -73.792631
14202                  0   [40.64935461, -73.79198785]  40.649355  -73.791988
14255                  0     [35.2176668, -80.9426912]  35.217667  -80.942691
14288                  0     [32.9272165, -97.0396313]  32.927217  -97.039631
14293                  0   [38.83598483, -77.10864801]  38.835985  -77.108648
14337                  0   [40.46694635, -82.64579149]  40.466946  -82.645791
14365                  0   [40.65062011, -73.79171323]  40.650620  -73.791713
14374                  2   [35.87912533, -78.79162128]  35.879125  -78.791621
14381                  0   [40.64824535, -73.80141955]  40.648245  -73.801420
14388                  0    [32.9760867, -96.53332214]  32.976087  -96.533322
14391                  2   [25.79101279, -80.28861743]  25.791013  -80.288617
14417                  0     [15.1659317, 120.5830548]  15.165932  120.583055
14420                  0   [38.85482856, -77.04128223]  38.854829  -77.041282
14447                  0  [47.24879409, -122.43874458]  47.248794 -122.438745
14481                  2     [40.6474324, -73.7936881]  40.647432  -73.793688
14483                  0   [32.97609561, -96.53349238]  32.976096  -96.533492
14490                  2    [40.68621427, -74.1793971]  40.686214  -74.179397
14511                  2   [44.26313964, -69.78197616]  44.263140  -69.781976
14524                  0   [40.80718573, -73.95477259]  40.807186  -73.954773
14525                  0    [38.5369071, -106.9349375]  38.536907 -106.934938
14528                  0     [38.538038, -106.9370467]  38.538038 -106.937047
14555                  0   [33.64199395, -84.44238523]  33.641994  -84.442385
14561                  0   [32.90771571, -97.04233322]  32.907716  -97.042333
14577                  0  [33.93939612, -118.38973148]  33.939396 -118.389731
14596                  0  [35.22534456, -106.57241352]  35.225345 -106.572414
14612                  0   [40.46692522, -82.64567078]  40.466925  -82.645671
14624                  0    [32.9070889, -97.03785947]  32.907089  -97.037859
14625                  2   [40.64946781, -73.76624703]  40.649468  -73.766247

[855 rows x 4 columns]

### getting the nearest city

#### method 1: great circle distance

In [25]:
# calculating the great circle distance between two points 
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(math.radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    return math.asin(math.sqrt(a)) # omitted the factor of radius*2 because we only want a rank

In [26]:
def closest_city_haversine(long, lat):
    dist_list = []
    for i, row_city in cities_df.iterrows():
        dist_list.append(haversine(long, lat, row_city['longitude'], row_city['latitude']))
    return cities_df.loc[np.argmin(dist_list)]['name']

In [27]:
tweets_df['city_haversine'] = tweets_df.apply(lambda x: closest_city_haversine(x['long'], x['lat']), axis=1)

In [28]:
tweets_df

,airline_sentiment,tweet_coord,lat,long,city_haversine
21,2,"[40.74804263, -73.99295302]",40.748043,-73.992953,Hoboken
28,0,"[42.361016, -71.02000488]",42.361016,-71.020005,Boston
29,1,"[33.94540417, -118.4062472]",33.945404,-118.406247,El Segundo
32,0,"[33.94209449, -118.40410103]",33.942094,-118.404101,El Segundo
34,2,"[33.2145038, -96.9321504]",33.214504,-96.932150,Frisco
42,1,"[34.0219817, -118.38591198]",34.021982,-118.385912,Culver City
62,1,"[33.57963333, -117.73024772]",33.579633,-117.730248,Aliso Viejo
69,0,"[40.6413712, -73.78311558]",40.641371,-73.783116,Springfield Gardens
74,2,"[36.08457854, -115.13780136]",36.084579,-115.137801,Paradise
108,1,"[37.79374402, -122.39327564]",37.793744,-122.393276,San Francisco
115,0,"[26.074379, -80.1416831]",26.074379,-80.141683,Dania Beach
124,2,"[33.9469039, -118.40716847]",33.946904,-118.407168,El Segundo
126,0,"[51.04345575, -114.06071363]",51.043456,-114.060714,Calgary
128,1,"[40.64662464, -73.77090177]",40.646625,-73.770902,Springfield Gardens
147,2,"[33.94652852, -118.40766257]",33.946529,-118.407663,El Segundo
189,2,"[38.9128188, -77.00798226]",38.912819,-77.007982,"Washington, D.C."
205,2,"[32.84359605, -96.84910929]",32.843596,-96.849109,Dallas
211,0,"[32.8437698, -96.84928399]",32.843770,-96.849284,Dallas
249,0,"[26.06726717, -80.14433663]",26.067267,-80.144337,Dania Beach
264,2,"[32.8454782, -96.8504585]",32.845478,-96.850459,Dallas
285,1,"[39.24087254, -94.63994975]",39.240873,-94.639950,Gladstone
303,2,"[37.77465018, -122.44032176]",37.774650,-122.440322,San Francisco
337,1,"[33.94696831, -118.40747994]",33.946968,-118.407480,El Segundo
409,0,"[40.63767372, -74.11075451]",40.637674,-74.110755,Port Richmond
473,1,"[40.78986648, -73.10068286]",40.789866,-73.100683,Ronkonkoma
475,2,"[42.5696777, -71.42056878]",42.569678,-71.420569,Westford
499,1,"[37.80065252, -122.43857414]",37.800653,-122.438574,San Francisco
503,1,"[36.08546367, -115.31814055]",36.085464,-115.318141,Summerlin South
511,0,"[19.43706642, -99.07927123]",19.437066,-99.079271,Venustiano Carranza
527,2,"[39.8621249, -104.6740909]",39.862125,-104.674091,Brighton
...,...,...,...,...,...
14129,0,"[35.20493157, -80.92540817]",35.204932,-80.925408,Charlotte
14153,0,"[34.02148779, -118.50289643]",34.021488,-118.502896,Santa Monica
14184,0,"[40.64931132, -73.79263138]",40.649311,-73.792631,Springfield Gardens
14202,0,"[40.64935461, -73.79198785]",40.649355,-73.791988,Springfield Gardens
14255,0,"[35.2176668, -80.9426912]",35.217667,-80.942691,Charlotte
14288,0,"[32.9272165, -97.0396313]",32.927217,-97.039631,Grapevine
14293,0,"[38.83598483, -77.10864801]",38.835985,-77.108648,"Washington, D.C."
14337,0,"[40.46694635, -82.64579149]",40.466946,-82.645791,Mount Vernon
14365,0,"[40.65062011, -73.79171323]",40.650620,-73.791713,Springfield Gardens
14374,2,"[35.87912533, -78.79162128]",35.879125,-78.791621,Morrisville
14381,0,"[40.64824535, -73.80141955]",40.648245,-73.801420,Howard Beach
14388,0,"[32.9760867, -96.53332214]",32.976087,-96.533322,Garland
14391,2,"[25.79101279, -80.28861743]",25.791013,-80.288617,Flagami
14417,0,"[15.1659317, 120.5830548]",15.165932,120.583055,Santol
14420,0,"[38.85482856, -77.04128223]",38.854829,-77.041282,"Washington, D.C."
14447,0,"[47.24879409, -122.43874458]",47.248794,-122.438745,Tacoma
14481,2,"[40.6474324, -73.7936881]",40.647432,-73.793688,Springfield Gardens
14483,0,"[32.97609561, -96.53349238]",32.976096,-96.533492,Garland
14490,2,"[40.68621427, -74.1793971]",40.686214,-74.179397,Elizabeth
14511,2,"[44.26313964, -69.78197616]",44.263140,-69.781976,Augusta
14524,0,"[40.80718573, -73.95477259]",40.807186,-73.954773,Harlem
14525,0,"[38.5369071, -106.9349375]",38.536907,-106.934938,Montrose
14528,0,"[38.538038, -106.9370467]",38.538038,-106.937047,Montrose
14555,0,"[33.64199395, -84.44238523]",33.641994,-84.442385,East Point
14561,0,"[32.90771571, -97.04233322]",32.907716,-97.042333,Grapevine
14577,0,"[33.93939612, -118.38973148]",33.939396,-118.389731,El Segundo
14596,0,"[35.22534456, -106.57241352]",35.225345,-106.572414,Rio Rancho
14612,0,"[40.46692522, -82.64567078]",40.466925,-82.645671,Mount Vernon
14624,0,"[32.9070889, -97.03785947]",32.907089,-97.037859,Grapevine
14625,2,"[40.64946781, -73.76624703]",40.649468,-73.766247,Springfield Gardens

#### method 2: 3-d Euclidean distance

In [29]:
def get_3d_coords(lon, lat):
    x = math.cos(lat)*math.cos(lon) # radius is ignored because we only want a rank
    y = math.cos(lat)*math.sin(lon)
    z = math.sin(lat)
    return x, y, z

In [30]:
def euclidean_3d(lon1, lat1, lon2, lat2):
    """
    Calculate the 3d Euclidean distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(math.radians, [lon1, lat1, lon2, lat2])

    x1, y1, z1 = get_3d_coords(lon1, lat1)
    x2, y2, z2 = get_3d_coords(lon2, lat2)
    
    return (x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2 # sqrt is omitted beause we only want a rank

In [31]:
def closest_city_euclidean_3d(long, lat):
    dist_list = []
    for i, row_city in cities_df.iterrows():
        dist_list.append(euclidean_3d(long, lat, row_city['longitude'], row_city['latitude']))
    return cities_df.loc[np.argmin(dist_list)]['name']

In [32]:
tweets_df['city_euclidean_3d'] = tweets_df.apply(lambda x: closest_city_euclidean_3d(x['long'], x['lat']), axis=1)

In [33]:
tweets_df

,airline_sentiment,tweet_coord,lat,long,city_haversine,city_euclidean_3d
21,2,"[40.74804263, -73.99295302]",40.748043,-73.992953,Hoboken,Hoboken
28,0,"[42.361016, -71.02000488]",42.361016,-71.020005,Boston,Boston
29,1,"[33.94540417, -118.4062472]",33.945404,-118.406247,El Segundo,El Segundo
32,0,"[33.94209449, -118.40410103]",33.942094,-118.404101,El Segundo,El Segundo
34,2,"[33.2145038, -96.9321504]",33.214504,-96.932150,Frisco,Frisco
42,1,"[34.0219817, -118.38591198]",34.021982,-118.385912,Culver City,Culver City
62,1,"[33.57963333, -117.73024772]",33.579633,-117.730248,Aliso Viejo,Aliso Viejo
69,0,"[40.6413712, -73.78311558]",40.641371,-73.783116,Springfield Gardens,Springfield Gardens
74,2,"[36.08457854, -115.13780136]",36.084579,-115.137801,Paradise,Paradise
108,1,"[37.79374402, -122.39327564]",37.793744,-122.393276,San Francisco,San Francisco
115,0,"[26.074379, -80.1416831]",26.074379,-80.141683,Dania Beach,Dania Beach
124,2,"[33.9469039, -118.40716847]",33.946904,-118.407168,El Segundo,El Segundo
126,0,"[51.04345575, -114.06071363]",51.043456,-114.060714,Calgary,Calgary
128,1,"[40.64662464, -73.77090177]",40.646625,-73.770902,Springfield Gardens,Springfield Gardens
147,2,"[33.94652852, -118.40766257]",33.946529,-118.407663,El Segundo,El Segundo
189,2,"[38.9128188, -77.00798226]",38.912819,-77.007982,"Washington, D.C.","Washington, D.C."
205,2,"[32.84359605, -96.84910929]",32.843596,-96.849109,Dallas,Dallas
211,0,"[32.8437698, -96.84928399]",32.843770,-96.849284,Dallas,Dallas
249,0,"[26.06726717, -80.14433663]",26.067267,-80.144337,Dania Beach,Dania Beach
264,2,"[32.8454782, -96.8504585]",32.845478,-96.850459,Dallas,Dallas
285,1,"[39.24087254, -94.63994975]",39.240873,-94.639950,Gladstone,Gladstone
303,2,"[37.77465018, -122.44032176]",37.774650,-122.440322,San Francisco,San Francisco
337,1,"[33.94696831, -118.40747994]",33.946968,-118.407480,El Segundo,El Segundo
409,0,"[40.63767372, -74.11075451]",40.637674,-74.110755,Port Richmond,Port Richmond
473,1,"[40.78986648, -73.10068286]",40.789866,-73.100683,Ronkonkoma,Ronkonkoma
475,2,"[42.5696777, -71.42056878]",42.569678,-71.420569,Westford,Westford
499,1,"[37.80065252, -122.43857414]",37.800653,-122.438574,San Francisco,San Francisco
503,1,"[36.08546367, -115.31814055]",36.085464,-115.318141,Summerlin South,Summerlin South
511,0,"[19.43706642, -99.07927123]",19.437066,-99.079271,Venustiano Carranza,Venustiano Carranza
527,2,"[39.8621249, -104.6740909]",39.862125,-104.674091,Brighton,Brighton
...,...,...,...,...,...,...
14129,0,"[35.20493157, -80.92540817]",35.204932,-80.925408,Charlotte,Charlotte
14153,0,"[34.02148779, -118.50289643]",34.021488,-118.502896,Santa Monica,Santa Monica
14184,0,"[40.64931132, -73.79263138]",40.649311,-73.792631,Springfield Gardens,Springfield Gardens
14202,0,"[40.64935461, -73.79198785]",40.649355,-73.791988,Springfield Gardens,Springfield Gardens
14255,0,"[35.2176668, -80.9426912]",35.217667,-80.942691,Charlotte,Charlotte
14288,0,"[32.9272165, -97.0396313]",32.927217,-97.039631,Grapevine,Grapevine
14293,0,"[38.83598483, -77.10864801]",38.835985,-77.108648,"Washington, D.C.","Washington, D.C."
14337,0,"[40.46694635, -82.64579149]",40.466946,-82.645791,Mount Vernon,Mount Vernon
14365,0,"[40.65062011, -73.79171323]",40.650620,-73.791713,Springfield Gardens,Springfield Gardens
14374,2,"[35.87912533, -78.79162128]",35.879125,-78.791621,Morrisville,Morrisville
14381,0,"[40.64824535, -73.80141955]",40.648245,-73.801420,Howard Beach,Howard Beach
14388,0,"[32.9760867, -96.53332214]",32.976087,-96.533322,Garland,Garland
14391,2,"[25.79101279, -80.28861743]",25.791013,-80.288617,Flagami,Flagami
14417,0,"[15.1659317, 120.5830548]",15.165932,120.583055,Santol,Santol
14420,0,"[38.85482856, -77.04128223]",38.854829,-77.041282,"Washington, D.C.","Washington, D.C."
14447,0,"[47.24879409, -122.43874458]",47.248794,-122.438745,Tacoma,Tacoma
14481,2,"[40.6474324, -73.7936881]",40.647432,-73.793688,Springfield Gardens,Springfield Gardens
14483,0,"[32.97609561, -96.53349238]",32.976096,-96.533492,Garland,Garland
14490,2,"[40.68621427, -74.1793971]",40.686214,-74.179397,Elizabeth,Elizabeth
14511,2,"[44.26313964, -69.78197616]",44.263140,-69.781976,Augusta,Augusta
14524,0,"[40.80718573, -73.95477259]",40.807186,-73.954773,Harlem,Harlem
14525,0,"[38.5369071, -106.9349375]",38.536907,-106.934938,Montrose,Montrose
14528,0,"[38.538038, -106.9370467]",38.538038,-106.937047,Montrose,Montrose
14555,0,"[33.64199395, -84.44238523]",33.641994,-84.442385,East Point,East Point
14561,0,"[32.90771571, -97.04233322]",32.907716,-97.042333,Grapevine,Grapevine
14577,0,"[33.93939612, -118.38973148]",33.939396,-118.389731,El Segundo,El Segundo
14596,0,"[35.22534456, -106.57241352]",35.225345,-106.572414,Rio Rancho,Rio Rancho
14612,0,"[40.46692522, -82.64567078]",40.466925,-82.645671,Mount Vernon,Mount Vernon
14624,0,"[32.9070889, -97.03785947]",32.907089,-97.037859,Grapevine,Grapevine
14625,2,"[40.64946781, -73.76624703]",40.649468,-73.766247,Springfield Gardens,Springfield Gardens

##### a much faster way..

In [34]:
tweets_df['lat_rad'] = tweets_df['lat'].apply(math.radians)
tweets_df['lon_rad'] = tweets_df['long'].apply(math.radians)
cities_df['lat_rad'] = cities_df['latitude'].apply(math.radians)
cities_df['lon_rad'] = cities_df['longitude'].apply(math.radians)

/home/molly/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/molly/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [35]:
tweets_df['x'] = pd.DataFrame(tweets_df.apply(lambda x: get_3d_coords(x['lon_rad'], x['lat_rad'])[0], axis=1))
tweets_df['y'] = pd.DataFrame(tweets_df.apply(lambda x: get_3d_coords(x['lon_rad'], x['lat_rad'])[1], axis=1))
tweets_df['z'] = pd.DataFrame(tweets_df.apply(lambda x: get_3d_coords(x['lon_rad'], x['lat_rad'])[2], axis=1))

In [36]:
cities_df['x'] = pd.DataFrame(cities_df.apply(lambda x: get_3d_coords(x['lon_rad'], x['lat_rad'])[0], axis=1))
cities_df['y'] = pd.DataFrame(cities_df.apply(lambda x: get_3d_coords(x['lon_rad'], x['lat_rad'])[1], axis=1))
cities_df['z'] = pd.DataFrame(cities_df.apply(lambda x: get_3d_coords(x['lon_rad'], x['lat_rad'])[2], axis=1))

/home/molly/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/molly/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/molly/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
knn = KNeighborsClassifier(n_neighbors=1)

In [38]:
knn.fit(cities_df[['x','y','z']], cities_df['name'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [39]:
tweets_df['city_euclidean_3d_knn'] = knn.predict(tweets_df[['x','y','z']])

In [40]:
tweets_df

,airline_sentiment,tweet_coord,lat,long,city_haversine,city_euclidean_3d,lat_rad,lon_rad,x,y,z,city_euclidean_3d_knn
21,2,"[40.74804263, -73.99295302]",40.748043,-73.992953,Hoboken,Hoboken,0.711188,-1.291421,0.208909,-0.728214,0.652734,Hoboken
28,0,"[42.361016, -71.02000488]",42.361016,-71.020005,Boston,Boston,0.739339,-1.239533,0.240323,-0.698741,0.673800,Boston
29,1,"[33.94540417, -118.4062472]",33.945404,-118.406247,El Segundo,El Segundo,0.592459,-2.066579,-0.394643,-0.729687,0.558403,El Segundo
32,0,"[33.94209449, -118.40410103]",33.942094,-118.404101,El Segundo,El Segundo,0.592401,-2.066541,-0.394631,-0.729730,0.558355,El Segundo
34,2,"[33.2145038, -96.9321504]",33.214504,-96.932150,Frisco,Frisco,0.579702,-1.691785,-0.100976,-0.830510,0.547775,Frisco
42,1,"[34.0219817, -118.38591198]",34.021982,-118.385912,Culver City,Culver City,0.593796,-2.066224,-0.394029,-0.729170,0.559511,Culver City
62,1,"[33.57963333, -117.73024772]",33.579633,-117.730248,Aliso Viejo,Aliso Viejo,0.586075,-2.054780,-0.387658,-0.737433,0.553095,Aliso Viejo
69,0,"[40.6413712, -73.78311558]",40.641371,-73.783116,Springfield Gardens,Springfield Gardens,0.709326,-1.287758,0.211914,-0.728610,0.651322,Springfield Gardens
74,2,"[36.08457854, -115.13780136]",36.084579,-115.137801,Paradise,Paradise,0.629795,-2.009534,-0.343299,-0.731608,0.588979,Paradise
108,1,"[37.79374402, -122.39327564]",37.793744,-122.393276,San Francisco,San Francisco,0.659625,-2.136166,-0.423344,-0.667256,0.612821,San Francisco
115,0,"[26.074379, -80.1416831]",26.074379,-80.141683,Dania Beach,Dania Beach,0.455084,-1.398736,0.153787,-0.884961,0.439538,Dania Beach
124,2,"[33.9469039, -118.40716847]",33.946904,-118.407168,El Segundo,El Segundo,0.592485,-2.066595,-0.394648,-0.729668,0.558424,El Segundo
126,0,"[51.04345575, -114.06071363]",51.043456,-114.060714,Calgary,Calgary,0.890876,-1.990735,-0.256336,-0.574103,0.777623,Calgary
128,1,"[40.64662464, -73.77090177]",40.646625,-73.770902,Springfield Gardens,Springfield Gardens,0.709417,-1.287545,0.212052,-0.728507,0.651392,Springfield Gardens
147,2,"[33.94652852, -118.40766257]",33.946529,-118.407663,El Segundo,El Segundo,0.592479,-2.066604,-0.394656,-0.729668,0.558419,El Segundo
189,2,"[38.9128188, -77.00798226]",38.912819,-77.007982,"Washington, D.C.","Washington, D.C.",0.679157,-1.344043,0.174929,-0.758184,0.628137,"Washington, D.C."
205,2,"[32.84359605, -96.84910929]",32.843596,-96.849109,Dallas,Dallas,0.573229,-1.690336,-0.100193,-0.834159,0.542348,Dallas
211,0,"[32.8437698, -96.84928399]",32.843770,-96.849284,Dallas,Dallas,0.573232,-1.690339,-0.100195,-0.834157,0.542350,Dallas
249,0,"[26.06726717, -80.14433663]",26.067267,-80.144337,Dania Beach,Dania Beach,0.454960,-1.398783,0.153755,-0.885022,0.439426,Dania Beach
264,2,"[32.8454782, -96.8504585]",32.845478,-96.850459,Dallas,Dallas,0.573262,-1.690359,-0.100210,-0.834139,0.542375,Dallas
285,1,"[39.24087254, -94.63994975]",39.240873,-94.639950,Gladstone,Gladstone,0.684882,-1.651779,-0.062652,-0.771955,0.632582,Gladstone
303,2,"[37.77465018, -122.44032176]",37.774650,-122.440322,San Francisco,San Francisco,0.659292,-2.136987,-0.424001,-0.667081,0.612557,San Francisco
337,1,"[33.94696831, -118.40747994]",33.946968,-118.407480,El Segundo,El Segundo,0.592486,-2.066600,-0.394652,-0.729665,0.558425,El Segundo
409,0,"[40.63767372, -74.11075451]",40.637674,-74.110755,Port Richmond,Port Richmond,0.709261,-1.293477,0.207755,-0.729850,0.651273,Port Richmond
473,1,"[40.78986648, -73.10068286]",40.789866,-73.100683,Ronkonkoma,Ronkonkoma,0.711917,-1.275848,0.220085,-0.724416,0.653287,Ronkonkoma
475,2,"[42.5696777, -71.42056878]",42.569678,-71.420569,Westford,Westford,0.742981,-1.246524,0.234649,-0.698073,0.676486,Westford
499,1,"[37.80065252, -122.43857414]",37.800653,-122.438574,San Francisco,San Francisco,0.659746,-2.136956,-0.423832,-0.666859,0.612916,San Francisco
503,1,"[36.08546367, -115.31814055]",36.085464,-115.318141,Summerlin South,Summerlin South,0.629810,-2.012681,-0.345596,-0.730515,0.588991,Summerlin South
511,0,"[19.43706642, -99.07927123]",19.437066,-99.079271,Venustiano Carranza,Venustiano Carranza,0.339241,-1.729260,-0.148807,-0.931193,0.332771,Venustiano Carranza
527,2,"[39.8621249, -104.6740909]",39.862125,-104.674091,Brighton,Brighton,0.695725,-1.826908,-0.194446,-0.742552,0.640942,Brighton
...,...,...,...,...,...,...,...,...,...,...,...,...
14129,0,"[35.20493157, -80.92540817]",35.204932,-80.925408,Charlotte,Charlotte,0.614442,-1.412415,0.128872,-0.806868,0.576503,Charlotte
14153,0,"[34.02148779, -118.50289643]",34.021488,-118.502896,Santa Monica,Santa Monica,0.593787,-2.068266,-0.395519,-0.728368,0.559504,Santa Monica
14184,0,"[40.64931132, -73.79263138]",40.649311,-73.792631,Springfield Gardens,Springfield Gardens,0.709464,-1.287924,0.211767,-0.728558,0.651427,Springfield Gardens
14202,0,"[40.64935461, -73.79198785]",40.649355,-73.791988,Springfield Gardens,Springfield Gardens,0.709465,-1.287913,0.211775,-0.728555,0.651428,Springfield Gardens
14255,0,"[35.2176668, -80.9426912]",35.217667,-80.942691,Charlotte,Charlotte,0.614664,-1.412716,0.128609,-0.806781,0.576684,Charlotte
14288,0,"[32.9272165, -97.0396313]",32.927217,-97.039631,Grapevine,Grapevine,0.574688,-1.693661,-0.102869,-0.833034,0.543573,Grapevine
14293,0,"[38.83598483, -77.10864801]",38.835985,-77.108648,"Washington, D.C.","Washington, D.C.",0.677816,-1.345800,0.173785,-0.759311,0.627093,"Washington, D.C."
14337,0,"[40.46694635, -82.64579149]",40.466946,-82.645791,Mount Vernon,Mount Vernon,0.706281,-1.442441,0.097382,-0.754522,0.649009,Mount Vernon
14365,0,"[40.65062011, -73.79171323]",40.650620,-73.791713,Springfield Gardens,Springfield Gardens,0.709487,-1.287908,0.211775,-0.728540,0.651445,Springfield Gardens
14374,2,"[35.87912533, -78.79162128]",35.879125,-78.791621,Morrisville,Morrisville,0.626209,-1.375173,0.157496,-0.794801,0.586077,Morrisville
14381,0,"[40.64824535, -73.80141955]",40.648245,-73.801420,Howard Beach,Howard Beach,0.709446,-1.288078,0.211659,-0.728602,0.651413,Howard Beach
14388,0,"[32.9760867, -96.53332214]",32.976087,-96.533322,Garland,Garland,0.575541,-1.684824,-0.095451,-0.833450,0.544289,Garland
14391,2,"[25.79101279, -80.28861743]",25.791013,-80.288617,Flagami,Flagami,0.450138,-1.401301,0.151882,-0.887484,0.435090,Flagami
14417,0,"[15.1659317, 120.5830548]",15.165932,120.583055,Santol,Santol,0.264695,2.104571,-0.491067,0.830910,0.261615,Santol
14420,0,"[38.85482856, -77.04128223]",38.854829,-77.041282,"Washington, D.C.","Washington, D.C.",0.678145,-1.344624,0.174631,-0.758905,0.627349,"Washington, D.C."
14447,0,"[47.24879409, -122.43874458]",47.248794,-122.438745,Tacoma,Tacoma,0.824647,-2.136959,-0.364115,-0.572897,0.734308,Tacoma
14481,2,"[40.6474324, -73.7936881]",40.647432,-73.793688,Springfield Gardens,Springfield Gardens,0.709432,-1.287943,0.211760,-0.728583,0.651403,Springfield Gardens
14483,0,"[32.97609561, -96.53349238]",32.976096,-96.533492,Garland,Garland,0.575541,-1.684827,-0.095453,-0.833450,0.544289,Garland
14490,2,"[40.68621427, -74.1793971]",40.686214,-74.179397,Elizabeth,Elizabeth,0.710108,-1.294675,0.206730,-0.729567,0.651916,Elizabeth
14511,2,"[44.26313964, -69.78197616]",44.263140,-69.781976,Augusta,Augusta,0.772538,-1.217925,0.247494,-0.672016,0.697955,Augusta
14524,0,"[40.80718573, -73.95477259]",40.807186,-73.954773,Harlem,Harlem,0.712220,-1.290754,0.209208,-0.727427,0.653516,Harlem
14525,0,"[38.5369071, -106.9349375]",38.536907,-106.934938,Montrose,Montrose,0.672596,-1.866367,-0.227846,-0.748287,0.623019,Montrose
14528,0,"[38.538038, -106.9370467]",38.538038,-106.937047,Montrose,Montrose,0.672616,-1.866404,-0.227870,-0.748267,0.623034,Montrose
14555,0,"[33.64199395, -84.44238523]",33.641994,-84.442385,East Point,East Point,0.587164,-1.473798,0.080626,-0.828602,0.554002,East Point
14561,0,"[32.90771571, -97.04233322]",32.907716,-97.042333,Grapevine,Grapevine,0.574348,-1.693708,-0.102931,-0.833213,0.543288,Grapevine
14577,0,"[33.93939612, -118.38973148]",33.939396,-118.389731,El Segundo,El Segundo,0.592354,-2.066291,-0.394461,-0.729852,0.558316,El Segundo
14596,0,"[35.22534456, -106.57241352]",35.225345,-106.572414,Rio Rancho,Rio Rancho,0.614798,-1.860040,-0.232999,-0.782956,0.576794,Rio Rancho
14612,0,"[40.46692522, -82.64567078]",40.466925,-82.645671,Mount Vernon,Mount Vernon,0.706281,-1.442439,0.097384,-0.754522,0.649009,Mount Vernon
14624,0,"[32.9070889, -97.03785947]",32.907089,-97.037859,Grapevine,Grapevine,0.574337,-1.693630,-0.102866,-0.833227,0.543278,Grapevine
14625,2,"[40.64946781, -73.76624703]",40.649468,-73.766247,Springfield Gardens,Springfield Gardens,0.709467,-1.287464,0.212102,-0.728459,0.651430,Springfield Gardens

In [41]:
cities_counts = pd.DataFrame(tweets_df['city_euclidean_3d_knn'].value_counts())

In [42]:
cities_counts.shape

(293, 1)

In [43]:
cities_counts[cities_counts['city_euclidean_3d_knn'] == 1].shape

(161, 1)

In [44]:
# half of the cities just appeared once in the data set
161/293

0.5494880546075085

#### method 3: Euclidean on latitude and longitude

In [45]:
X = cities_df[['latitude','longitude']]
y = cities_df['name']

In [46]:
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [47]:
tweets_df['city_euclidean'] = knn.predict(tweets_df[['lat','long']])

In [48]:
tweets_df

,airline_sentiment,tweet_coord,lat,long,city_haversine,city_euclidean_3d,lat_rad,lon_rad,x,y,z,city_euclidean_3d_knn,city_euclidean
21,2,"[40.74804263, -73.99295302]",40.748043,-73.992953,Hoboken,Hoboken,0.711188,-1.291421,0.208909,-0.728214,0.652734,Hoboken,New York City
28,0,"[42.361016, -71.02000488]",42.361016,-71.020005,Boston,Boston,0.739339,-1.239533,0.240323,-0.698741,0.673800,Boston,Chelsea
29,1,"[33.94540417, -118.4062472]",33.945404,-118.406247,El Segundo,El Segundo,0.592459,-2.066579,-0.394643,-0.729687,0.558403,El Segundo,El Segundo
32,0,"[33.94209449, -118.40410103]",33.942094,-118.404101,El Segundo,El Segundo,0.592401,-2.066541,-0.394631,-0.729730,0.558355,El Segundo,El Segundo
34,2,"[33.2145038, -96.9321504]",33.214504,-96.932150,Frisco,Frisco,0.579702,-1.691785,-0.100976,-0.830510,0.547775,Frisco,Frisco
42,1,"[34.0219817, -118.38591198]",34.021982,-118.385912,Culver City,Culver City,0.593796,-2.066224,-0.394029,-0.729170,0.559511,Culver City,Culver City
62,1,"[33.57963333, -117.73024772]",33.579633,-117.730248,Aliso Viejo,Aliso Viejo,0.586075,-2.054780,-0.387658,-0.737433,0.553095,Aliso Viejo,Aliso Viejo
69,0,"[40.6413712, -73.78311558]",40.641371,-73.783116,Springfield Gardens,Springfield Gardens,0.709326,-1.287758,0.211914,-0.728610,0.651322,Springfield Gardens,Springfield Gardens
74,2,"[36.08457854, -115.13780136]",36.084579,-115.137801,Paradise,Paradise,0.629795,-2.009534,-0.343299,-0.731608,0.588979,Paradise,Paradise
108,1,"[37.79374402, -122.39327564]",37.793744,-122.393276,San Francisco,San Francisco,0.659625,-2.136166,-0.423344,-0.667256,0.612821,San Francisco,San Francisco
115,0,"[26.074379, -80.1416831]",26.074379,-80.141683,Dania Beach,Dania Beach,0.455084,-1.398736,0.153787,-0.884961,0.439538,Dania Beach,Dania Beach
124,2,"[33.9469039, -118.40716847]",33.946904,-118.407168,El Segundo,El Segundo,0.592485,-2.066595,-0.394648,-0.729668,0.558424,El Segundo,El Segundo
126,0,"[51.04345575, -114.06071363]",51.043456,-114.060714,Calgary,Calgary,0.890876,-1.990735,-0.256336,-0.574103,0.777623,Calgary,Calgary
128,1,"[40.64662464, -73.77090177]",40.646625,-73.770902,Springfield Gardens,Springfield Gardens,0.709417,-1.287545,0.212052,-0.728507,0.651392,Springfield Gardens,Springfield Gardens
147,2,"[33.94652852, -118.40766257]",33.946529,-118.407663,El Segundo,El Segundo,0.592479,-2.066604,-0.394656,-0.729668,0.558419,El Segundo,El Segundo
189,2,"[38.9128188, -77.00798226]",38.912819,-77.007982,"Washington, D.C.","Washington, D.C.",0.679157,-1.344043,0.174929,-0.758184,0.628137,"Washington, D.C.","Washington, D.C."
205,2,"[32.84359605, -96.84910929]",32.843596,-96.849109,Dallas,Dallas,0.573229,-1.690336,-0.100193,-0.834159,0.542348,Dallas,Dallas
211,0,"[32.8437698, -96.84928399]",32.843770,-96.849284,Dallas,Dallas,0.573232,-1.690339,-0.100195,-0.834157,0.542350,Dallas,Dallas
249,0,"[26.06726717, -80.14433663]",26.067267,-80.144337,Dania Beach,Dania Beach,0.454960,-1.398783,0.153755,-0.885022,0.439426,Dania Beach,Dania Beach
264,2,"[32.8454782, -96.8504585]",32.845478,-96.850459,Dallas,Dallas,0.573262,-1.690359,-0.100210,-0.834139,0.542375,Dallas,Dallas
285,1,"[39.24087254, -94.63994975]",39.240873,-94.639950,Gladstone,Gladstone,0.684882,-1.651779,-0.062652,-0.771955,0.632582,Gladstone,Gladstone
303,2,"[37.77465018, -122.44032176]",37.774650,-122.440322,San Francisco,San Francisco,0.659292,-2.136987,-0.424001,-0.667081,0.612557,San Francisco,San Francisco
337,1,"[33.94696831, -118.40747994]",33.946968,-118.407480,El Segundo,El Segundo,0.592486,-2.066600,-0.394652,-0.729665,0.558425,El Segundo,El Segundo
409,0,"[40.63767372, -74.11075451]",40.637674,-74.110755,Port Richmond,Port Richmond,0.709261,-1.293477,0.207755,-0.729850,0.651273,Port Richmond,Port Richmond
473,1,"[40.78986648, -73.10068286]",40.789866,-73.100683,Ronkonkoma,Ronkonkoma,0.711917,-1.275848,0.220085,-0.724416,0.653287,Ronkonkoma,Ronkonkoma
475,2,"[42.5696777, -71.42056878]",42.569678,-71.420569,Westford,Westford,0.742981,-1.246524,0.234649,-0.698073,0.676486,Westford,Westford
499,1,"[37.80065252, -122.43857414]",37.800653,-122.438574,San Francisco,San Francisco,0.659746,-2.136956,-0.423832,-0.666859,0.612916,San Francisco,San Francisco
503,1,"[36.08546367, -115.31814055]",36.085464,-115.318141,Summerlin South,Summerlin South,0.629810,-2.012681,-0.345596,-0.730515,0.588991,Summerlin South,Summerlin South
511,0,"[19.43706642, -99.07927123]",19.437066,-99.079271,Venustiano Carranza,Venustiano Carranza,0.339241,-1.729260,-0.148807,-0.931193,0.332771,Venustiano Carranza,Venustiano Carranza
527,2,"[39.8621249, -104.6740909]",39.862125,-104.674091,Brighton,Brighton,0.695725,-1.826908,-0.194446,-0.742552,0.640942,Brighton,Brighton
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14129,0,"[35.20493157, -80.92540817]",35.204932,-80.925408,Charlotte,Charlotte,0.614442,-1.412415,0.128872,-0.806868,0.576503,Charlotte,Charlotte
14153,0,"[34.02148779, -118.50289643]",34.021488,-118.502896,Santa Monica,Santa Monica,0.593787,-2.068266,-0.395519,-0.728368,0.559504,Santa Monica,Santa Monica
14184,0,"[40.64931132, -73.79263138]",40.649311,-73.792631,Springfield Gardens,Springfield Gardens,0.709464,-1.287924,0.211767,-0.728558,0.651427,Springfield Gardens,Springfield Gardens
14202,0,"[40.64935461, -73.79198785]",40.649355,-73.791988,Springfield Gardens,Springfield Gardens,0.709465,-1.287913,0.211775,-0.728555,0.651428,Springfield Gardens,Springfield Gardens
14255,0,"[35.2176668, -80.9426912]",35.217667,-80.942691,Charlotte,Charlotte,0.614664,-1.412716,0.128609,-0.806781,0.576684,Charlotte,Charlotte
14288,0,"[32.9272165, -97.0396313]",32.927217,-97.039631,Grapevine,Grapevine,0.574688,-1.693661,-0.102869,-0.833034,0.543573,Grapevine,Coppell
14293,0,"[38.83598483, -77.10864801]",38.835985,-77.108648,"Washington, D.C.","Washington, D.C.",0.677816,-1.345800,0.173785,-0.759311,0.627093,"Washington, D.C.","Washington, D.C."
14337,0,"[40.46694635, -82.64579149]",40.466946,-82.645791,Mount Vernon,Mount Vernon,0.706281,-1.442441,0.097382,-0.754522,0.649009,Mount Vernon,Mount Vernon
14365,0,"[40.65062011, -73.79171323]",40.650620,-73.791713,Springfield Gardens,Springfield Gardens,0.709487,-1.287908,0.211775,-0.728540,0.651445,Springfield Gardens,Springfield Gardens
14374,2,"[35.87912533, -78.79162128]",35.879125,-78.791621,Morrisville,Morrisville,0.626209,-1.375173,0.157496,-0.794801,0.586077,Morrisville,Morrisville
14381,0,"[40.64824535, -73.80141955]",40.648245,-73.801420,Howard Beach,Howard Beach,0.709446,-1.288078,0.211659,-0.728602,0.651413,Howard Beach,Howard Beach
14388,0,"[32.9760867, -96.53332214]",32.976087,-96.533322,Garland,Garland,0.575541,-1.684824,-0.095451,-0.833450,0.544289,Garland,Garland
14391,2,"[25.79101279, -80.28861743]",25.791013,-80.288617,Flagami,Flagami,0.450138,-1.401301,0.151882,-0.887484,0.435090,Flagami,Flagami
14417,0,"[15.1659317, 120.5830548]",15.165932,120.583055,Santol,Santol,0.264695,2.104571,-0.491067,0.830910,0.261615,Santol,Angeles City
14420,0,"[38.85482856, -77.04128223]",38.854829,-77.041282,"Washington, D.C.","Washington, D.C.",0.678145,-1.344624,0.174631,-0.758905,0.627349,"Washington, D.C.","Washington, D.C."
14447,0,"[47.24879409, -122.43874458]",47.248794,-122.438745,Tacoma,Tacoma,0.824647,-2.136959,-0.364115,-0.572897,0.734308,Tacoma,Tacoma
14481,2,"[40.6474324, -73.7936881]",40.647432,-73.793688,Springfield Gardens,Springfield Gardens,0.709432,-1.287943,0.211760,-0.728583,0.651403,Springfield Gardens,Springfield Gardens
14483,0,"[32.97609561, -96.53349238]",32.976096,-96.533492,Garland,Garland,0.575541,-1.684827,-0.095453,-0.833450,0.544289,Garland,Garland
14490,2,"[40.68621427, -74.1793971]",40.686214,-74.179397,Elizabeth,Elizabeth,0.710108,-1.294675,0.206730,-0.729567,0.651916,Elizabeth,Elizabeth
14511,2,"[44.26313964, -69.78197616]",44.263140,-69.781976,Augusta,Augusta,0.772538,-1.217925,0.247494,-0.672016,0.697955,Augusta,Augusta
14524,0,"[40.80718573, -73.95477259]",40.807186,-73.954773,Harlem,Harlem,0.712220,-1.290754,0.209208,-0.727427,0.653516,Harlem,Harlem
14525,0,"[38.5369071, -106.9349375]",38.536907,-106.934938,Montrose,Montrose,0.672596,-1.866367,-0.227846,-0.748287,0.623019,Montrose,Montrose
14528,0,"[38.538038, -106.9370467]",38.538038,-106.937047,Montrose,Montrose,0.672616,-1.866404,-0.227870,-0.748267,0.623034,Montrose,Montrose
14555,0,"[33.64199395, -84.44238523]",33.641994,-84.442385,East Point,East Point,0.587164,-1.473798,0.080626,-0.828602,0.554002,East Point,East Point
14561,0,"[32.90771571, -97.04233322]",32.907716,-97.042333,Grapevine,Grapevine,0.574348,-1.693708,-0.102931,-0.833213,0.543288,Grapevine,Grapevine
14577,0,"[33.93939612, -118.38973148]",33.939396,-118.389731,El Segundo,El Segundo,0.592354,-2.066291,-0.394461,-0.729852,0.558316,El Segundo,El Segundo
14596,0,"[35.22534456, -106.57241352]",35.225345,-106.572414,Rio Rancho,Rio Rancho,0.614798,-1.860040,-0.232999,-0.782956,0.576794,Rio Rancho,Rio Rancho
14612,0,"[40.46692522, -82.64567078]",40.466925,-82.645671,Mount Vernon,Mount Vernon,0.706281,-1.442439,0.097384,-0.754522,0.649009,Mount Vernon,Mount Vernon
14624,0,"[32.9070889, -97.03785947]",32.907089,-97.037859,Grapevine,Grapevine,0.574337,-1.693630,-0.102866,-0.833227,0.543278,Grapevine,Grapevine
14625,2,"[40.64946781, -73.76624703]",40.649468,-73.766247,Springfield Gardens,Springfield Gardens,0.709467,-1.287464,0.212102,-0.728459,0.651430,Springfield Gardens,Springfield Gardens

## one-hot encoding

In [49]:
lb = preprocessing.LabelBinarizer()
lb.fit(tweets_df['city_euclidean_3d_knn'])

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [50]:
tweets_df_oh = pd.DataFrame(lb.transform(tweets_df['city_euclidean_3d_knn']), columns=lb.classes_)

In [51]:
# checking row 6 for accuracy
tweets_df_oh

,Addison,Aldine,Aliso Viejo,Allen,American Fork,Anaheim,Annapolis,Arbutus,Ashford,Ashland,...,Willow Grove,Willowdale,Windsor,Winnipeg,Winter Park,Winthrop,Wolverhampton,Woodstock,Xiuying,Zionsville
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
826,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
827,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
828,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
839,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
841,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
842,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
844,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
848,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
853,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
tweets_df_oh.shape

(855, 293)

In [53]:
tweets_df.shape

(855, 13)

## train-test split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(tweets_df_oh, tweets_df['airline_sentiment'], test_size=0.2, random_state=42)

In [55]:
X_train.head()

,Addison,Aldine,Aliso Viejo,Allen,American Fork,Anaheim,Annapolis,Arbutus,Ashford,Ashland,...,Willow Grove,Willowdale,Windsor,Winnipeg,Winter Park,Winthrop,Wolverhampton,Woodstock,Xiuying,Zionsville
788,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
790,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
530,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
430,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
y_train.head()

13452    0
1461     0
13493    0
8342     0
6487     0
Name: airline_sentiment, dtype: int64

# Train model

## checking class balance

In [57]:
y_train.value_counts()

0    467
2    115
1    102
Name: airline_sentiment, dtype: int64

## baseline model (no model)

In [58]:
print(f'Training Accuracy: {accuracy_score(y_train, np.zeros(len(y_train)))}')
print(f'Test Accuracy: {accuracy_score(y_test, np.zeros(len(y_test)))}')
print(f'Test F1 Score: {f1_score(y_test, np.zeros(len(y_test)), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(y_test, np.zeros(len(y_test))))

Training Accuracy: 0.6827485380116959
Test Accuracy: 0.6198830409356725
Test F1 Score: 0.25511432009626955

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.62      1.00      0.77       106
           1       0.00      0.00      0.00        30
           2       0.00      0.00      0.00        35

    accuracy                           0.62       171
   macro avg       0.21      0.33      0.26       171
weighted avg       0.38      0.62      0.47       171

/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## random forest

### simple random forest classifier

In [59]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [60]:
print(f'Training accuracy: {rfc.score(X_train, y_train)}')
print(f'Test accuracy: {rfc.score(X_test, y_test)}')
print(f'Test F1 Score: {f1_score(y_test, rfc.predict(X_test), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(y_test, rfc.predict(X_test)))

Training accuracy: 0.7763157894736842
Test accuracy: 0.6023391812865497
Test F1 Score: 0.34627892432770485

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.63      0.92      0.75       106
           1       0.36      0.13      0.20        30
           2       0.33      0.06      0.10        35

    accuracy                           0.60       171
   macro avg       0.44      0.37      0.35       171
weighted avg       0.52      0.60      0.52       171

### weighting to handle imbalance

In [61]:
rfc_wt = RandomForestClassifier(class_weight='balanced')
rfc_wt.fit(X_train, y_train)

/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=10, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

In [62]:
print(f'Training accuracy: {rfc_wt.score(X_train, y_train)}')
print(f'Test accuracy: {rfc_wt.score(X_test, y_test)}')
print(f'Test F1 Score: {f1_score(y_test, rfc_wt.predict(X_test), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(y_test, rfc_wt.predict(X_test)))

Training accuracy: 0.6681286549707602
Test accuracy: 0.4619883040935672
Test F1 Score: 0.32545003290275815

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.59      0.64      0.61       106
           1       0.14      0.13      0.14        30
           2       0.26      0.20      0.23        35

    accuracy                           0.46       171
   macro avg       0.33      0.32      0.33       171
weighted avg       0.44      0.46      0.45       171

### without train-test split

In [63]:
rfc_wt_no_split = RandomForestClassifier(class_weight='balanced')
rfc_wt_no_split.fit(tweets_df_oh, tweets_df['airline_sentiment'])

/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=10, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

In [64]:
print(f'Training accuracy: {rfc_wt_no_split.score(tweets_df_oh, tweets_df["airline_sentiment"])}')
# print(f'Test accuracy: {rfc_wt.score(X_test, y_test)}')
print(f'Training F1 Score: {f1_score(tweets_df["airline_sentiment"], rfc_wt_no_split.predict(tweets_df_oh), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(tweets_df["airline_sentiment"], rfc_wt_no_split.predict(tweets_df_oh)))

Training accuracy: 0.656140350877193
Training F1 Score: 0.5932622121160803

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.84      0.68      0.75       573
           1       0.44      0.64      0.52       132
           2       0.45      0.60      0.52       150

    accuracy                           0.66       855
   macro avg       0.57      0.64      0.59       855
weighted avg       0.71      0.66      0.67       855

### tuning hyperparams using grid-search

In [65]:
params = {'n_estimators':  [10, 50, 100, 200],
          'max_depth': [None, 5, 10],
          'max_features': ['auto','log2'],
          'class_weight': ['balanced', 'balanced_subsample']}
rfc_gs = GridSearchCV(RandomForestClassifier(), params, scoring='f1_macro', cv=5, verbose=1, n_jobs=-1)
rfc_gs.fit(X_train, y_train)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    5.3s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   15.8s
[Parallel(n_jobs=-1)]: Done 240 out of 240 | elapsed:   19.6s finished
/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'class_weight': ['balanced', 'balanced_subsample'],
                         'max_depth': [None, 5, 10],
                         'max_features': ['auto', 'log2'],
                         'n_estimators': [10, 50, 100, 200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_macro', verbose=1)

In [66]:
gs_df = pd.DataFrame(rfc_gs.cv_results_)
gs_df.sort_values('rank_test_score').head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_class_weight,param_max_depth,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
4,0.113046,0.004468,0.004179,0.000177,balanced,None,log2,10,"{'class_weight': 'balanced', 'max_depth': None...",0.313960,0.298517,0.404052,0.335384,0.361054,0.342381,0.037235,1
38,0.265924,0.010918,0.012471,0.000687,balanced_subsample,5,log2,100,"{'class_weight': 'balanced_subsample', 'max_de...",0.329995,0.355629,0.371470,0.350064,0.304571,0.342348,0.023035,2
26,0.470725,0.014271,0.017834,0.002083,balanced_subsample,None,auto,100,"{'class_weight': 'balanced_subsample', 'max_de...",0.322154,0.355778,0.362850,0.347791,0.319963,0.341691,0.017531,3
27,0.937179,0.062143,0.037347,0.007733,balanced_subsample,None,auto,200,"{'class_weight': 'balanced_subsample', 'max_de...",0.335564,0.341799,0.352519,0.345992,0.332626,0.341682,0.007135,4
44,0.113736,0.008189,0.003727,0.000436,balanced_subsample,10,log2,10,"{'class_weight': 'balanced_subsample', 'max_de...",0.326921,0.327112,0.348607,0.324604,0.375201,0.340410,0.019393,5

### best random forest classifier

In [67]:
rfc_best = rfc_gs.best_estimator_
rfc_best.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='log2',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=10, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

In [68]:
print(f'Training accuracy: {rfc_best.score(X_train, y_train)}')
print(f'Test accuracy: {rfc_best.score(X_test, y_test)}')
print(f'Test F1 Score: {f1_score(y_test, rfc_best.predict(X_test), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(y_test, rfc_best.predict(X_test)))

Training accuracy: 0.6885964912280702
Test accuracy: 0.5029239766081871
Test F1 Score: 0.38628950050968397

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.62      0.66      0.64       106
           1       0.27      0.27      0.27        30
           2       0.28      0.23      0.25        35

    accuracy                           0.50       171
   macro avg       0.39      0.39      0.39       171
weighted avg       0.49      0.50      0.50       171

## Naive Bayes

In [69]:
nbc = MultinomialNB()
nbc.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [70]:
print(f'Training accuracy: {nbc.score(X_train, y_train)}')
print(f'Test accuracy: {nbc.score(X_test, y_test)}')
print(f'Test F1 Score: {f1_score(y_test, nbc.predict(X_test), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(y_test, nbc.predict(X_test)))

Training accuracy: 0.7017543859649122
Test accuracy: 0.6198830409356725
Test F1 Score: 0.2725634725634726

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.62      0.99      0.76       106
           1       0.00      0.00      0.00        30
           2       0.50      0.03      0.05        35

    accuracy                           0.62       171
   macro avg       0.37      0.34      0.27       171
weighted avg       0.49      0.62      0.48       171

/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/molly/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

## xgboost

### handling imbalance first

In [71]:
sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [72]:
X_train_res.shape

(1401, 293)

In [73]:
X_train_res = pd.DataFrame(X_train_res, columns=X_test.columns)

In [74]:
# checking balance
unique, counts = np.unique(y_train_res, return_counts=True)
dict(zip(unique, counts))

{0: 467, 1: 467, 2: 467}

### simple xgboost

In [75]:
xgbc = XGBClassifier()
xgbc.fit(X_train_res, y_train_res)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [76]:
print(f'Training accuracy: {xgbc.score(X_train_res, y_train_res)}')
print(f'Test accuracy: {xgbc.score(X_test, y_test)}')
print(f'Test F1 Score: {f1_score(y_test, xgbc.predict(X_test), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(y_test, xgbc.predict(X_test)))

Training accuracy: 0.5139186295503212
Test accuracy: 0.3391812865497076
Test F1 Score: 0.2912656047905903

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.78      0.29      0.42       106
           1       0.21      0.80      0.34        30
           2       0.16      0.09      0.11        35

    accuracy                           0.34       171
   macro avg       0.38      0.39      0.29       171
weighted avg       0.55      0.34      0.35       171

### grid search

In [77]:
params = {'min_child_weight': [1, 5, 10],
          'gamma': [0.5, 1, 1.5, 2, 5],
          'subsample': [0.6, 0.8, 1.0],
          'colsample_bytree': [0.6, 0.8, 1.0],
          'max_depth': [3, 4, 5]}
xgbc_gs = GridSearchCV(XGBClassifier(), params, scoring='f1_macro', cv=5, verbose=1, n_jobs=-1)
xgbc_gs.fit(X_train_res, y_train_res)

Fitting 5 folds for each of 405 candidates, totalling 2025 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   20.3s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  8.0min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed: 13.3min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed: 20.9min
[Parallel(n_jobs=-1)]: Done 2025 out of 2025 | elapsed: 24.5min finished

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='warn', n_jobs=-1,
             param_grid={'colsample_bytree': [0.6, 0.8, 1.0],
                         'gamma': [0.5, 1, 1.5, 2, 5], 'max_depth': [3, 4, 5],
                         'min_child_weight': [1, 5, 10],
                         'subsample': [0.6, 0.8, 1.0]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_macro', verbose=1)

In [78]:
xgbc_best = xgbc_gs.best_estimator_
xgbc_best.fit(X_train_res, y_train_res)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1.0, gamma=0.5,
              learning_rate=0.1, max_delta_step=0, max_depth=4,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.6, verbosity=1)

In [79]:
print(f'Training accuracy: {xgbc_best.score(X_train_res, y_train_res)}')
print(f'Test accuracy: {xgbc_best.score(X_test, y_test)}')
print(f'Test F1 Score: {f1_score(y_test, xgbc_best.predict(X_test), average="macro")}')
print("\n----------- Baseline Classification Report -----------\n")
print(classification_report(y_test, xgbc_best.predict(X_test)))

Training accuracy: 0.5267665952890792
Test accuracy: 0.3391812865497076
Test F1 Score: 0.2801330070895288

----------- Baseline Classification Report -----------

              precision    recall  f1-score   support

           0       0.71      0.32      0.44       106
           1       0.20      0.73      0.32        30
           2       0.13      0.06      0.08        35

    accuracy                           0.34       171
   macro avg       0.35      0.37      0.28       171
weighted avg       0.50      0.34      0.35       171

Conclusion: The best model is the random forest classifier.

## saving model

In [80]:
joblib.dump(rfc_best, 'rfc_best.pkl')

['rfc_best.pkl']

## loading model

In [81]:
rfc_pkl = joblib.load('rfc_best.pkl')

In [82]:
# checking if the loaded model is the same as the original
assert rfc_pkl.score(X_train, y_train) == rfc_best.score(X_train, y_train)

# Scoring cities

In [83]:
sentiment_score = pd.DataFrame(rfc_pkl.predict_proba(tweets_df_oh), columns=['negative','neutral','positive'])

In [84]:
sentiment_score['city'] = tweets_df['city_euclidean_3d_knn'].values

In [85]:
sentiment_score = sentiment_score[['city','negative','neutral','positive']]

In [86]:
city_rank = sentiment_score.sort_values('positive', ascending=False).drop_duplicates()

In [87]:
city_rank = city_rank.reset_index(drop=True)

## cities ranked

In [88]:
city_rank.head()

           city  negative   neutral  positive
0  Meadow Woods  0.000000  0.000000       1.0
1     Rio Linda  0.100000  0.000000       0.9
2        Euless  0.100000  0.000000       0.9
3       Polanco  0.117926  0.082074       0.8
4         Funza  0.200000  0.000000       0.8

## output to file

In [89]:
city_rank.to_csv('city_rank.csv')